button {
  color: $dark-blue-grey;
  text-align: center;
  text-decoration: none;
  padding: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &.submit {
    color: $smoke;
    background-color: $forestgreen;
  }
  &:hover {
    font-weight: bold;
    opacity: 70%;
  }
  transition: 0.5s;
}

a.button {
  display: block;
  color: $dark-blue-grey;
  margin-bottom: 8px;
  padding: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  &.edit {
    background-color: $forestgreen;
    color: $smoke;
  }
  &.delete {
    background-color: $light-gray;
  }
  &:hover {
    font-weight: bold;
    opacity: 70%;
  }
  transition: 0.5s;
}

div.button {
  display: block;
  color: $snow;
  background-color: $dark-blue-grey;
  margin-bottom: 8px;
  padding: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  &.edit {
    background-color: $forestgreen;
  }
  &.delete {
    background-color: $light-gray;
  }
  &:hover {
    font-weight: bold;
    opacity: 70%;
  }
  transition: 0.5s;
}
